@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    New Image
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Image</h5>
            </div>
            
            <form method="post" enctype="multipart/form-data">
                <div class="modal-body">

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Command.Name"></label>
                                <input asp-for="Command.Name" class="form-control"/>
                                <span asp-validation-for="Command.Name" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Command.Category"></label>
                                <input asp-for="Command.Category" class="form-control"/>
                                <span asp-validation-for="Command.Category" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <input asp-for="Command.Image" class="form-control" accept="image/*"/>
                                <span asp-validation-for="Command.Image" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" onclick="CreateImage()">Save</button>
                </div>
            </form>

        </div>
    </div>
</div>

<hr/>

<div class="card-columns" id="cards"></div>


@section Scripts
{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    
    <script src="~/js/site.js"></script>
}
